Homework/XXIX/data/circles.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Circles">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Circle">
          <xs:complexType>
            <xs:attribute name="radius" type="xs:int" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>